*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
**/secrets.xml

**/jacoco.exec
**/*-journal

# Robolectric dependencies
robolectric-deps/
**/robolectric-deps.properties

*.swp
